:81 {
    log

    reverse_proxy 192.168.123.110:8080

    handle_path /api/* {
        rewrite /api/* {path}
        reverse_proxy localhost:2019 {
        	header_up Host {upstream_hostport}
        	header_up X-Forwarded-Host {host}
        }
    }
}

http://test.localhost, https://test.localhost, http://test2.localhost  {
    tls internal
    respond / "Hello, world!"
}

http://dev.localhost, https://dev.localhost {
    tls internal
    reverse_proxy localhost:81
}